In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")

#remove negative values for ease
city_data_df = city_data_df[city_data_df["Max Temp"] >= 0]
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kribi,2.9500,9.9167,80.69,85,83,10.18,CM,2022-04-16 17:57:12
1,1,Walvis Bay,-22.9575,14.5053,59.95,82,13,6.91,NaN,2022-04-16 17:57:13
2,2,Abalak,58.1286,68.5944,41.04,91,95,11.27,RU,2022-04-16 17:57:13
3,3,Bar-Le-Duc,48.7500,5.1667,61.18,71,1,12.73,FR,2022-04-16 17:57:14
4,4,Kibaya,-5.3000,36.5667,59.85,99,100,0.81,TZ,2022-04-16 17:57:14

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) 

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))
    
print(temps)

[80.69, 59.95, 41.04, 61.18, 59.85, 76.59, 47.07, 83.52, 61.05, 62.71, 18.41, 62.31, 85.68, 80.08, 61.18, 70.57, 44.26, 49.26, 64.45, 81.75, 75.2, 13.1, 72.18, 58.8, 60.58, 63.14, 71.64, 55.38, 80.2, 36.55, 75.69, 68.02, 39.25, 29.03, 46.18, 70.12, 44.69, 46.04, 86.07, 40.75, 69.01, 57.18, 51.87, 65.68, 59.49, 84.04, 64.8, 81.97, 64.81, 76.08, 64.65, 77.07, 75.16, 79.86, 68.2, 62.33, 59.94, 80.64, 80.56, 57.51, 76.71, 82.33, 32.14, 79.45, 68.09, 73.44, 81.66, 86.04, 93.42, 73.06, 46.62, 39.06, 69.42, 59.97, 88.07, 77.29, 72.23, 67.51, 82.24, 75.47, 84.24, 37.62, 95.22, 62.46, 32.02, 17.62, 38.93, 84.18, 58.15, 91.22, 66.18, 62.29, 69.76, 65.48, 83.35, 59.43, 77.38, 33.53, 84.42, 59.68, 82.36, 82.02, 58.48, 89.04, 73.44, 36.34, 78.91, 69.84, 48.31, 80.33, 87.82, 86.09, 89.78, 57.11, 59.65, 59.34, 76.23, 75.36, 78.19, 87.53, 32.27, 94.23, 78.71, 31.84, 45.23, 59.61, 71.02, 56.75, 79.83, 65.62, 84.0, 39.13, 49.95, 64.18, 80.62, 32.72, 65.98, 26.44, 63.05, 52.48, 69.66, 46.18, 30.88, 94.98, 83.43, 75.58, 49.39, 46.35, 35.42, 67.33, 77.34, 48.11, 53.46, 47.55, 88.12, 68.07, 75.25, 75.92, 81.86, 84.94, 27.55, 79.34, 71.58, 39.13, 82.78, 75.72, 79.92, 5.0, 61.66, 16.68, 41.47, 61.88, 62.22, 77.85, 24.82, 59.54, 64.02, 39.88, 72.1, 83.8, 60.71, 75.43, 84.38, 89.13, 11.89, 88.79, 66.49, 29.01, 65.64, 85.57, 34.32, 5.7, 66.22, 81.1, 66.61, 84.76, 84.15, 71.44, 72.39, 32.23, 48.42, 62.92, 80.98, 77.86, 31.78, 85.77, 85.78, 46.36, 88.72, 88.0, 39.65, 75.7, 78.89, 84.34, 79.05, 93.81, 37.8, 68.86, 62.92, 72.1, 47.19, 43.56, 91.38, 53.15, 39.29, 82.33, 83.8, 48.69, 73.45, 47.75, 61.48, 25.21, 78.85, 73.6, 81.55, 49.68, 47.52, 49.33, 80.69, 82.26, 82.31, 65.95, 57.22, 82.29, 37.45, 26.78, 92.64, 64.38, 72.68, 84.13, 49.15, 68.07, 77.65, 59.88, 47.32, 22.3, 83.07, 87.64, 46.72, 70.95, 36.45, 77.45, 84.25, 61.09, 80.33, 63.64, 39.04, 82.35, 30.18, 76.03, 47.62, 66.2, 56.95, 11.26, 73.99, 85.64, 46.4, 46.54, 48.38, 71.28, 69.39, 71.22, 81.54, 76.08, 84.7, 72.12, 75.99, 21.81, 83.28, 95.29, 79.93, 57.52, 82.0, 89.69, 76.8, 87.19, 35.35, 66.94, 85.89, 88.61, 84.81, 91.08, 86.16, 84.81, 71.8, 78.21, 40.14, 57.49, 83.39, 45.52, 90.52, 82.22, 81.0, 41.7, 52.52, 52.52, 52.38, 82.49, 17.02, 47.17, 39.0, 83.86, 73.06, 36.16, 22.69, 48.94, 89.37, 37.18, 66.52, 67.93, 42.78, 89.01, 98.08, 69.26, 86.09, 82.47, 77.47, 55.67, 58.86, 89.67, 73.22, 49.86, 74.59, 92.57, 79.63, 89.17, 59.77, 67.59, 62.87, 82.08, 86.14, 61.7, 66.06, 41.13, 24.13, 23.43, 72.48, 58.6, 44.1, 60.66, 59.99, 67.17, 66.92, 72.21, 81.16, 87.94, 39.0, 90.63, 79.57, 42.87, 76.08, 87.94, 83.55, 65.73, 63.0, 82.6, 67.33, 69.6, 95.11, 67.1, 24.84, 42.58, 70.05, 89.22, 73.09, 71.49, 88.84, 55.0, 62.11, 32.18, 87.8, 87.75, 73.0, 56.86, 76.46, 47.66, 86.92, 82.15, 46.2, 63.81, 59.76, 68.72, 54.25, 83.39, 73.18, 67.32, 46.8, 47.68, 70.9, 78.71, 77.05, 49.89, 67.08, 43.83, 68.77, 82.69, 80.65, 72.21, 84.16, 53.58, 76.91, 81.0, 83.41, 86.04, 64.42, 81.5, 74.35, 75.87, 40.66, 96.24, 39.4, 70.79, 80.26, 88.32, 86.05, 71.26, 84.06, 86.0, 83.5, 61.92, 59.88, 85.21, 81.21, 56.23, 77.36, 73.42, 82.76, 66.33, 66.72, 71.74, 73.74, 84.24, 79.38, 51.66, 82.89, 80.78, 84.54, 95.86, 56.14, 69.48, 80.06, 81.84, 80.6, 79.59, 42.06, 78.03, 75.65, 48.67, 59.95, 60.3, 91.2, 88.0, 68.22, 55.54, 87.01, 54.82, 62.1, 14.83, 73.44, 45.86, 36.91, 95.2, 74.28, 82.08, 74.66, 84.85, 52.93, 64.24, 61.54, 83.98, 83.1, 46.81, 27.99, 86.56, 81.12, 95.11, 65.44, 84.96, 74.21, 91.31, 55.98, 63.07, 71.47, 8.24, 66.45, 97.66, 77.32, 8.58, 58.32, 38.35, 79.2, 85.78, 75.58, 63.5, 41.68, 78.91, 43.88, 70.77, 82.26, 67.77, 59.31, 83.07, 86.18, 83.05, 78.55, 63.66, 60.12, 57.38, 41.63, 81.77, 32.59, 88.45, 77.36, 67.37, 84.52, 89.85, 59.65, 39.65, 82.33, 71.83, 74.91, 83.91, 85.39, 79.29, 49.64, 63.16, 20.64, 54.5, 53.1, 76.96, 40.89, 66.54, 51.21, 79.05, 67.35, 74.71, 80.96, 82.49, 50.85, 64.74, 47.08, 66.61, 88.05, 68.5, 66.6, 78.91, 61.83, 79.27, 37.53, 64.56, 64.04, 81.23, 35.1]

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=temps)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable & change zoom/center
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 40

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
10,10,Tazovskiy,67.4667,78.7000,18.41,94,100,14.52,RU,2022-04-16 17:57:16
21,21,Dikson,73.5069,80.5464,13.10,94,100,14.72,RU,2022-04-16 17:57:19
29,29,Lyuban,52.7985,28.0048,36.55,88,98,15.79,BY,2022-04-16 17:57:22
32,32,Svetlyy,54.6750,20.1347,39.25,78,26,12.57,RU,2022-04-16 17:57:23
33,33,Paamiut,61.9940,-49.6678,29.03,71,4,18.92,GL,2022-04-16 17:57:23
62,62,Nanortalik,60.1432,-45.2371,32.14,78,6,11.68,GL,2022-04-16 17:58:32
72,72,Maarianhamina,60.0973,19.9348,39.06,70,0,8.05,AX,2022-04-16 17:58:35
82,82,Tasiilaq,65.6145,-37.6368,37.62,97,100,17.47,GL,2022-04-16 17:58:39
85,85,Verkhnyaya Maksakovka,61.6350,50.9674,32.02,64,40,4.47,RU,2022-04-16 17:58:39
86,86,Ilulissat,69.2167,-51.1000,17.62,57,40,12.66,GL,2022-04-16 17:49:19

In [12]:
preferred_cities_df.count()

City_ID       67
City          67
Lat           67
Lng           67
Max Temp      67
Humidity      67
Cloudiness    67
Wind Speed    67
Country       67
Date          67
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

# Create the output file (CSV).
output_data_file = "weather_data/hotels.csv"

# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

hotel_df.head(10)

                     City Country  Max Temp      Lat      Lng Hotel Name
10              Tazovskiy      RU     18.41  67.4667  78.7000
21                 Dikson      RU     13.10  73.5069  80.5464
29                 Lyuban      BY     36.55  52.7985  28.0048
32                Svetlyy      RU     39.25  54.6750  20.1347
33                Paamiut      GL     29.03  61.9940 -49.6678
62             Nanortalik      GL     32.14  60.1432 -45.2371
72          Maarianhamina      AX     39.06  60.0973  19.9348
82               Tasiilaq      GL     37.62  65.6145 -37.6368
85  Verkhnyaya Maksakovka      RU     32.02  61.6350  50.9674
86              Ilulissat      GL     17.62  69.2167 -51.1000

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}